---
import { getCollection } from "astro:content";
import RootLayout from "../../layouts/RootLayout.astro";

const blogPosts = await getCollection("blog");
blogPosts.sort(
  (p1, p2) => p1.data.datePublished.valueOf() - p2.data.datePublished.valueOf(),
);
---

<RootLayout title="Blog" description="See recent blogs">
  <div>
    <h1>Here&apos;s my blog posts!</h1>
    <ul class="list-disc pl-4">
      {
        blogPosts.map((p) => (
          <li>
            <a class="hover:underline" href={`/blog/${p.slug}`}>
              {p.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</RootLayout>
