<div class="pb-4 text-white/90">
  <header>
    <nav
      class="mx-auto flex max-w-screen-md flex-row items-center justify-between px-4 py-8"
    >
      <a class="w-32" href="/">
        <svg
          id="Layer_1"
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 810.54 335.35"
          class="fill-white"
        >
          <path
            d="M113.95,79.83c19.4-.83,36.47,9.69,46,29.23,6.21,13.54,9.11,27.74,9.49,42.56.82,31.16-4.19,81.5-28.58,103.26-6.65,5.91-14.18,9.3-23.19,7.9-14.4-1.94-20.64-16.25-21.96-29.24-1.32-12.99-.08-25.83,1.67-38.69,1.18-8.23,2.11-16.46,2.26-24.9.17-7.93-1.44-15.79-5.07-22.8-4.21-8.77-11.54-12.8-19.95-11.93-12.94,2.34-18.2,16.89-19.75,28.46-2.71,20.32-1.84,40.74,5.14,60.39,2.33,6.55,3.9,13.39,5.22,20.49.71,4.57,1.16,9.16.08,13.81-2.15,9.55-10.34,15.27-19.02,15.64-4.34.19-8.99-.89-12.69-3.81-14.33-12.17-26.52-40.04-29.07-57.83-3.64-25.42-6-50.63-3.52-76.31,1.47-13.36,4.76-26.29,11.15-38.32,5.7-10.22,14.9-22.38,27.66-22.92,17.1-.73,22.02,18.5,22.58,31.77-.16,2.31-.57,4.63.58,7.65,13.02-18.46,26.19-33.34,50.95-34.4Z"
          ></path>
          <path
            class="stroke-white stroke-[2px]"
            d="M699.81,331.34c-26.82,5.6-52.4,3.45-76.9-7.02-19.25-8.22-33.51-21.84-41.66-41.17-8.3-19.9,1.7-37.18,22.83-39.96,8.91-1.24,17.67.34,25.98,3.58,5.9,2.37,11.75,5.68,17.4,9.35,5.28,3.47,10.28,7.02,15.76,10.12,9.43,5.09,19.41,8.8,30.64,8.14,2.08-.27,4.25-.25,6.17-1.1,10.48-4.46,13.14-15.99,6.06-24.82-2.75-3.24-6.33-5.03-10.4-6.36-6.39-1.92-12.96-2.26-19.53-2.59-9.02-.27-18.12-.83-26.88-2.4-10.72-1.96-20.49-6.03-29.38-12.5-11.98-8.7-17.85-20.95-17-35.68.59-18.98,8.94-33.33,26.52-42.22,8.11-4.1,16.5-6.12,25.28-6.71,18.87-.92,36.56,2.8,52.89,12.76,6.67,4.01,11.85,9.35,15.56,16.04,3.02,5.33,3.59,10.72,2.74,16.51-1.61,7.54-6.01,12.77-13.74,14.92-4.29,1.19-8.62,1.16-13.03.84-8.4-1.37-16.46-3.75-24.48-7.08-5.9-2.37-12.09-4.66-18.48-6.59-3.13-1.29-6.6-1.56-10.12-.89-4.37.91-7.49,3.01-9.03,7.44-1.26,4.36.06,8,3.1,11.17,2.59,2.67,5.68,4.9,9.18,6.4,5.77,3.02,12.17,4.95,18.95,4.92,6.57.33,13.06.38,19.55.43,4.33.03,8.94-.01,13.26.02,19.63.72,34.79,9.77,45.45,25.93,11.87,18.29,12.09,37.97.37,55.72-8.46,12.84-20.04,22.22-34.38,28.36-4.14,1.76-8.72,3.04-12.65,4.44Z"
          ></path>
          <path
            d="M412.66,179.71c2.19-3.25,3.76-5.53,5.33-7.48,4.71-6.51,9.75-12.38,15.77-17.3,4.11-3.61,8.56-6.57,13.67-8.27,12.46-4.07,21.5-1.33,28.39,6.9,5.58,6.65,8.59,13.99,10.98,21.66,2.07,8,3.49,16,5.56,24,4.51,19.2,9.66,38.39,17.37,57.21,3.68,8.61,5.77,17.89,5.62,27.54-.23,5.47-1.42,10.63-3.91,15.49-5.9,11.67-18.01,17.66-31.53,16.29-10.3-1.11-19.78-10.26-22.87-21.78-2.75-10.23-3.25-20.51-2.14-31.13,1.06-12.87,2.13-25.74,3.52-38.3.81-8.69.35-17.04-1.4-25.36-.68-2.24-1.05-4.8-2.04-6.71-2.66-5.42-7.19-7.27-12.62-5.24-3.83,1.35-7.33,3.66-10.16,6.92-6.62,7.5-11.29,15.94-13.69,25.62-3.01,11.94-4.41,23.85-5.48,36.08-.83,8.05-1.65,16.09-3.76,24.16-.59,2.9-1.83,5.82-3.39,8.41-4.67,8.44-14.27,10.85-22.72,5.53-7.15-4.7-10.81-11.7-12.23-20.03-1.06-5.76-.84-11.55-.3-17.34,2.84-21.58,5.69-42.83,8.21-64.4,2.52-21.57,4.4-43.13,5.95-64.69,1.51-24.12,1.74-48.23,4.54-72.05,1.1-10.94,3.49-21.27,7.49-31.62,2.47-5.83,5.58-11.66,10-16.24,10.11-10.14,21.69-9.37,30.24,2.05,3.29,4.44,4.98,9.55,6.36,14.99,2.79,12.48,2.68,24.69,0,37.27-3.58,16.13-8.77,31.96-13.63,47.79-6.07,20.67-12.13,41.66-17.23,62.63-.29,1.93-1.22,3.88.13,7.39Z"
          ></path>
          <path
            class="stroke-white stroke-[5px]"
            d="M367.99,124.37c.99,11.41-4.17,14.88-11.84,15.54-8.42.73-19.76-1.86-29.68-1-18.89,1.64-20.62,16.49-19.88,24.91.73,8.42,5.53,20.25,32.65,17.89,46.01-4,32.25,39.22-3.67,42.35-10.48.91-60.08-1.75-64.9-57.11-4.82-55.37,43.66-63.54,60.69-65.02,12.16-1.06,34.87,2.24,36.63,22.45Z"
          ></path>
          <path
            class="cls-3"
            d="M261.45,178.31c12.06,32.67,10.87,67.86-6.43,74.24s-12.69-26.97-18.29-24.9c-5.44,2.01-2.04,32.41-23.18,40.22-12.49,4.61-27.37.28-34.88-20.05-11.77-31.86,5.4-84.42,30.7-93.76,19.53-7.21,40.08-8.25,52.08,24.25ZM213.57,180.71c-6.89,2.54-15.42,26.25-9.5,42.26,1.89,5.12,3.94,6.73,5.86,6.02,6.25-2.31,11.85-28.03,10.69-40.52-.48-4.74-2.57-9.42-7.05-7.77Z"
          ></path>
          <path
            class="stroke-white stroke-[3px]"
            d="M774.94,10.73c20.46.27,34.1,10.92,34.1,25.1,0,26.47-32.47,48.56-32.48,84.85,0,17.73,11.18,27.56,11.73,43.38.27,9.55-5.46,12.28-14.46,12.55-7.37,0-16.1-1.64-23.46-15.55-11.46-22.37-17.73-61.39-17.73-93.59-.27-42.56,21.01-56.48,42.3-56.75ZM744.91,208.54c0-11.73,6.28-24.55,24.29-24.55,24.28,0,33.29,13.1,33.29,27.29,0,11.46-6.01,24.56-24.01,24.55-24.28,0-33.56-13.1-33.56-27.29Z"
          ></path>
          <path
            class="stroke-white stroke-[3px]"
            d="M523.09,128.26c4.31-4.53,9.24-8.15,14.93-10.52,14.02-5.93,26.74-3.73,38.03,5.88,9.65,8.16,15.23,18.76,18.06,31.2,4.54,20.61,2.06,40.21-8.56,58.52-4.44,7.77-10.46,14.26-18.26,18.98-13.05,8.08-29.15,7.2-41.5-2.13-6.61-4.96-12.4-12.49-16.35-21.24-11.54-25.99-5.82-59.98,13.65-80.69Z"
          ></path>
        </svg>
      </a>

      <section role="group" class="flex items-center gap-4 font-medium">
        <a class="hover:underline" href="/portfolio"
          >Resum&eacute;<span class="p-0.5">/</span>Portfolio</a
        >

        <a class="hover:underline" href="/blog">Blog</a>

        <a
          class="block h-5 w-5"
          href="https://github.com/parkreiner/"
          target="_blank"
        >
          <svg role="img" viewBox="0 0 24 24" aria-label="GitHub logo"
            ><path
              class="fill-white/90"
              d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
            ></path></svg
          >
          <span class="sr-only">My GitHub profile(link opens in new tab)</span>
        </a>

        <a
          class="block h-5 w-5"
          href="https://linkedin.com/buenos-nachos"
          target="_blank"
        >
          <svg role="img" viewBox="0 0 24 24" aria-label="LinkedIn logo"
            ><path
              class="fill-white/90"
              d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
            ></path></svg
          >
          <span class="sr-only">My LinkedIn page (link opens in a new tab)</span
          >
        </a>
      </section>
    </nav>
  </header>
</div>
