---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout
  title="Resumé & Portfolio"
  description="See what I've done in the past"
>
  <h1>Here&apos;s my portfolio and resum&eacute;!</h1>
</RootLayout>
