---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout
  title="Resumé & Portfolio"
  description="See what I've done in the past"
>
  <main>
    <h1>Here's my portfolio and resum&eacute;!</h1>
  </main>
</RootLayout>
