---
import { cn } from "../utils/styling";

type Props = Readonly<{
  class?: string;
}>;

const { class: className } = Astro.props;
---

<div
  class={cn([
    "prose max-w-prose prose-headings:text-orange-950 prose-h1:text-2xl prose-h2:text-xl prose-p:text-orange-950",
    className,
  ])}
>
  <slot />
</div>
