---
import PageMetadata from "../components/PageMetadata/PageMetadata.astro";
import NavHeader from "../components/NavHeader/NavHeader.astro";
import { cn } from "../utils/styling";

type Props = Readonly<{
  title: string;
  description: string;

  mainClassName?: string;
  bodyClassName?: string;
}>;

const { title, description, mainClassName, bodyClassName } = Astro.props;
---

<html lang="en">
  <head>
    <PageMetadata title={title} description={description} />
  </head>

  <body class={cn(["bg-orange-50 font-sans text-orange-950", bodyClassName])}>
    <NavHeader />

    <main class={cn(["mx-auto max-w-screen-md px-4", mainClassName])}>
      <slot />
    </main>
  </body>
</html>
